.container{
    width: 90%;
    margin: 0  auto;
}
body{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSfhqDfVKnVW18VeisuGwmPOOT0lUOB8a8OEg&usqp=CAU);
    background-repeat: repeat;
}
.App{
    text-decoration: none;
    
  
}
.Home{
    width: 100%;
    margin-top: 110px ;
}
li{text-decoration: none !important;color: inherit !important;}